@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  height: fit-content;
  font-family: "Lato", serif;
}
/* Apply the Lato font globally */
* {
  font-family: "Lato", sans-serif;
}

/* Or apply it specifically to the navbar */
#navbar {
  font-family: "Lato", sans-serif;
}

/* Specific styling for navbar elements */
.navbar-logo {
  font-weight: 700; /* Bold style */
}

.nav-btn,
.navbar-search-input {
  font-weight: 400; /* Regular style */
}

@media screen and (max-width: 1060px) {
}

@media screen and (max-width: 600px) {
}
