@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid #ddd;
  font-family: Lato, sans-serif;
}

.navbar-logo {
  font-size: 1.5em;
  font-weight: bold;
  color: #000;
  cursor: pointer;
}

.navbar-search {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.navbar-search-input {
  width: 100%;
  max-width: 300px;
  padding: 8px 12px;
  border-radius: 20px;
  border: 1px solid #ddd;
  outline: none;
  font-size: 1em;
  color: #555;
}

.navbar-search-input::placeholder {
  color: #aaa;
}

.nav-btn {
  margin: 0 10px;
  color: #000;
  font-weight: 500;
  font-size: 1em;
  cursor: pointer;
  padding: 8px;
  transition:
    color 0.3s ease,
    border-bottom 0.3s ease;
  text-decoration: none;
}

.nav-btn:hover {
  color: #0891b2;
}

.nav-btn.active {
  color: #0891b2;
  border-bottom: 2px solid #0891b2;
}
